openapi: 3.0.3

info:
  title: API Uai Telecom & IXC
  description: Integração IXC e Blip (Cliente, Router e Utilidades)
  version: "1.0.0"

servers:
  - url: https://sistema.uaitelecom.com.br
    description: Servidor IXC
  - url: https://uaitelecom.http.msging.net
    description: Servidor Blip Router
  - url: https://viacep.com.br/ws
    description: API ViaCEP
  - url: https://check-name.herokuapp.com
    description: API Check-Name

tags:
  - name: Cliente IXC
    description: Endpoints de clientes
  - name: Financeiro IXC
    description: Endpoints
  - name: Blip Router
    description: API do Router e Desk da Blip
  - name: Utilidades
    description: APIs externas de apoio

components:
  securitySchemes:
    ApiKeyIXC:
      type: apiKey
      in: header
      name: Authorization
      description: Token IXC

    ApiKeyRouter:
      type: apiKey
      in: header
      name: Authorization
      description: Token Router

paths:
#==========================
# Ixc Clinte
#==========================
  /webservice/v1/cliente:
    post:
      tags:
        - Cliente IXC
      summary: Buscar cliente pelo CPF/CNPJ
      description: |
        Consulta clientes ativos no IXC utilizando CPF ou CNPJ.

        ⚠️ **Atenção – Limitação técnica**
        Este endpoint não pode ser executado diretamente pelo Swagger UI
        devido a restrições de CORS do IXC.

        Utilize:
        - Postman
        - Insomnia
        - API intermediária (Chatbot / Backend)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - qtype
                - query
                - oper
              properties:
                qtype:
                  type: string
                  example: cnpj_cpf
                query:
                  type: string
                  example: "12345678901"
                oper:
                  type: string
                  example: "="
                rp:
                  type: string
                  example: "1"
                sortname:
                  type: string
                  example: cliente.id
                sortorder:
                  type: string
                  example: asc
                grid_param:
                  type: string
                  example: >
                    [{"TB":"cliente.ativo","OP":"=","P":"S","C":"AND"}]
      responses:
        "200":
          description: Cliente encontrado
        "401":
          description: Não autorizado
        "500":
          description: Erro interno no IXC
      security:
        - ApiKeyIXC: []

  /webservice/v1/fn_areceber:
    post:
      tags:
        - Cliente IXC
      summary: Consultar títulos a receber por contrato
      description: |
        Consulta títulos em aberto no IXC a partir do **ID do contrato**.

        ⚠️ **Atenção – Limitação técnica**
        Este endpoint não pode ser executado diretamente pelo Swagger UI
        devido a restrições de CORS do IXC.

        Utilize:
        - Postman
        - Insomnia
        - API intermediária (Chatbot / Backend)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - qtype
                - query
                - oper
              properties:
                qtype:
                  type: string
                  example: fn_areceber.id_contrato
                query:
                  type: string
                  example: "12345"
                oper:
                  type: string
                  example: "="
                sortname:
                  type: string
                  example: fn_areceber.data_vencimento
                sortorder:
                  type: string
                  example: asc
                grid_param:
                  type: string
                  example: >
                    [
                      {"TB":"fn_areceber.liberado","OP":"=","P":"S","C":"AND"},
                      {"TB":"fn_areceber.status","OP":"!=","P":"C"},
                      {"TB":"fn_areceber.status","OP":"!=","P":"R"}
                    ]
      responses:
        "200":
          description: Títulos encontrados
        "401":
          description: Não autorizado
        "500":
          description: Erro interno no IXC
      security:
        - ApiKeyIXC: []
#==========================
# Blip Commands
#==========================
  /commands:
    post:
      tags:
        - Blip Router
      summary: Comandos no Router
      requestBody:
        required: true
        content:
          application/json:
            example:
              id: "{{random.guid}}"
              to: "postmaster@msging.net"
              method: "get"
              uri: "/contexts/{{contact.identity}}"
      responses:
        "200":
          description: Comando executado
      security:
        - ApiKeyRouter: []
#==========================
# Utilidades
#==========================
  /ws/{cep}/json/:
    get:
      tags:
        - Utilidades
      summary: Consulta CEP
      parameters:
        - name: cep
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Endereço retornado
