openapi: 3.0.3

info:
  title: API Uai Telecom & IXC
  description: Integração IXC e Blip (Cliente, Router e Utilidades)
  version: "1.0.0"

servers:
  - url: https://sistema.uaitelecom.com.br
    description: Servidor IXC
  - url: https://uaitelecom.http.msging.net
    description: Servidor Blip Router
  - url: https://viacep.com.br/ws
    description: API ViaCEP
  - url: https://check-name.herokuapp.com
    description: API Check-Name
  - url: https://api.uai-telecom.nmulti.tech
    description: API Multi Tech Monitoring
  - url: https://check-name.herokuapp.com
    description: Endpoint Validate Names

tags:
  - name: Cliente IXC
    description: Endpoint de clientes
  - name: Financeiro IXC
    description: Endpoint de financeiro
  - name: OS IXC
    description: Endpoint de ordem de serviço
  - name: PIX IXC
    description: Endpoint do PIX
  - name: Contratos IXC
    description: Endpoint de contratos
  - name: Desbloqueio IXC
    description: Endpoint de desbloqueio
  - name: Blip Router
    description: API's do Blip
  - name: Utilidades
    description: APIs externas de Via Cep
  - name: Monitoramento
    description: APIs externas de monitoramento
  - name: Name
    description: APIs externa validar nomes

components:
  securitySchemes:
    ApiKeyIXC:
      type: apiKey
      in: header
      name: Authorization
      description: Token IXC

    ApiKeyRouter:
      type: apiKey
      in: header
      name: Authorization
      description: Token Router

    ApiKeyNMT:
      type: apiKey
      in: header
      name: Authorization
      description: Token NMT

paths:  
  #==========================
  # Ixc Cliente
  #==========================
  
  /webservice/v1/cliente:
    post:
      tags:
        - Cliente IXC
      summary: Buscar cliente pelo CPF/CNPJ
      description: |
        Consulta clientes ativos no IXC utilizando CPF ou CNPJ.

        **Atenção – Limitação técnica**
        Este endpoint não pode ser executado diretamente pelo Swagger UI
        devido a restrições de CORS do IXC.

        Utilize:
        - Postman
        - Insomnia
        - API intermediária (Chatbot / Backend)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - qtype
                - query
                - oper
              properties:
                qtype:
                  type: string
                  example: cnpj_cpf
                query:
                  type: string
                  example: "12345678901"
                oper:
                  type: string
                  example: "="
                rp:
                  type: string
                  example: "1"
                sortname:
                  type: string
                  example: cliente.id
                sortorder:
                  type: string
                  example: asc
                grid_param:
                  type: string
                  example: >
                    [{"TB":"cliente.ativo","OP":"=","P":"S","C":"AND"}]
      responses:
        "200":
          description: Cliente encontrado
        "401":
          description: Não autorizado
        "500":
          description: Erro interno no IXC
      security:
        - ApiKeyIXC: []

  /webservice/v1/fn_areceber:
    post:
      tags:
        - Financeiro IXC
      summary: Consultar títulos a receber por contrato
      description: |
        Consulta títulos em aberto no IXC a partir do **ID do contrato**.

        **Atenção – Limitação técnica**
        Este endpoint não pode ser executado diretamente pelo Swagger UI
        devido a restrições de CORS do IXC.

        Utilize:
        - Postman
        - Insomnia
        - API intermediária (Chatbot / Backend)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - qtype
                - query
                - oper
              properties:
                qtype:
                  type: string
                  example: fn_areceber.id_contrato
                query:
                  type: string
                  example: "12345"
                oper:
                  type: string
                  example: "="
                sortname:
                  type: string
                  example: fn_areceber.data_vencimento
                sortorder:
                  type: string
                  example: asc
                grid_param:
                  type: string
                  example: >
                    [{"TB":"fn_areceber.liberado","OP":"=","P":"S","C":"AND"},{"TB":"fn_areceber.status","OP":"!=","P":"C"},{"TB":"fn_areceber.status","OP":"!=","P":"R"}]
      responses:
        "200":
          description: Títulos encontrados
        "401":
          description: Não autorizado
        "500":
          description: Erro interno no IXC
      security:
        - ApiKeyIXC: []

  /webservice/v1/su_oss_chamado:
    post:
      tags:
        - OS IXC
      summary: Consultar ordens de serviço por cliente
      description: |
        Consulta ordens de serviço (OSS/Chamados) no IXC a partir do **ID do cliente**.

        **Atenção – Limitação técnica**
        Este endpoint não pode ser executado diretamente pelo Swagger UI
        devido a restrições de CORS do IXC.

        Utilize:
        - Postman
        - Insomnia
        - API intermediária (Chatbot / Backend)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - qtype
                - query
                - oper
              properties:
                qtype:
                  type: string
                  example: su_oss_chamado.id_cliente
                query:
                  type: string
                  example: "123456"
                oper:
                  type: string
                  example: "="
                rp:
                  type: string
                  example: "1000"
                sortname:
                  type: string
                  example: su_oss_chamado.id
                sortorder:
                  type: string
                  example: asc
                grid_param:
                  type: string
                  example: >
                    [{"TB":"su_oss_chamado.status","OP":"!=","P":"F","C":"AND","G":"id_assunto"}]
      responses:
        "200":
          description: Ordens de serviço encontradas
        "401":
          description: Não autorizado
        "500":
          description: Erro interno no IXC
      security:
        - ApiKeyIXC: []

  /webservice/v1/cliente_contrato:
    post:
      tags:
        - Contratos IXC
      summary: Consultar contrato do cliente
      description: |
        Consulta contratos no IXC a partir do **ID do contrato**,
        aplicando filtros de status de internet.

        **Atenção – Limitação técnica**
        Este endpoint não pode ser executado diretamente pelo Swagger UI
        devido a restrições de CORS do IXC.

        Utilize:
        - Postman
        - Insomnia
        - API intermediária (Chatbot / Backend)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - qtype
                - query
                - oper
              properties:
                qtype:
                  type: string
                  description: Campo utilizado na consulta
                  example: id
                query:
                  type: string
                  description: Valor utilizado na consulta (ID do contrato)
                  example: "123456"
                oper:
                  type: string
                  description: Operador lógico da consulta
                  example: "="
                rp:
                  type: string
                  description: Quantidade máxima de registros retornados
                  example: "35"
                grid_param:
                  type: string
                  description: |
                    Filtros adicionais aplicados à consulta (JSON serializado).
                  example: >
                    [{"TB":"cliente_contrato.status_internet","OP":"!=","P":"AA"},{"TB":"cliente_contrato.status_internet","OP":"!=","P":"A"},{"TB":"cliente_contrato.status_internet","OP":"!=","P":"D"},{"TB":"cliente_contrato.status_internet","OP":"!=","P":"FA"}]
      responses:
        "200":
          description: Contrato(s) encontrado(s) com sucesso
          content:
            application/json:
              schema:
                type: object
                description: Retorno de contratos do IXC
        "401":
          description: Não autorizado
        "500":
          description: Erro interno no IXC
      security:
        - ApiKeyIXC: []

  /webservice/v1/desbloqueio_confianca:
    post:
      tags:
        - Desbloqueio IXC
      summary: Realizar desbloqueio por confiança do contrato
      description: |
        Executa o **desbloqueio por confiança** de um contrato no IXC,
        utilizando o **ID do contrato**.

        **Atenção – Limitação técnica**
        Este endpoint não pode ser executado diretamente pelo Swagger UI
        devido a restrições de CORS do IXC.

        Utilize:
        - Postman
        - Insomnia
        - API intermediária (Chatbot / Backend)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: string
                  description: ID do contrato no IXC
                  example: "123456"
      responses:
        "200":
          description: Desbloqueio realizado com sucesso
          content:
            application/json:
              schema:
                type: object
                description: Retorno do desbloqueio por confiança do IXC
        "401":
          description: Não autorizado
        "500":
          description: Erro interno no IXC
      security:
        - ApiKeyIXC: []
  
  /webservice/v1/get_pix:
    post:
      tags:
        - PIX IXC
      summary: Consultar os dados do PIX do boleto
      description: |
        Consulta os dados do PIX no IXC a partir do **ID da fatura (id_areceber)**.

        **Atenção – Limitação técnica**
        Este endpoint não pode ser executado diretamente pelo Swagger UI
        devido a restrições de CORS do IXC.

        Utilize:
        - Postman
        - Insomnia
        - API intermediária (Chatbot / Backend)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id_areceber
              properties:
                id_areceber:
                  type: string
                  description: ID da fatura (a receber) no IXC
                  example: "123456"
      responses:
        "200":
          description: Dados do PIX retornados com sucesso
          content:
            application/json:
              schema:
                type: object
                description: Retorno do PIX do IXC
        "401":
          description: Não autorizado
        "500":
          description: Erro interno no IXC
      security:
        - ApiKeyIXC: []


  #==========================
  # Blip Commands
  #==========================
  
  /commands:
    post:
      tags:
        - Blip Router
      summary: Comandos no Router
      requestBody:
        required: true
        content:
          application/json:
            example:
              id: "{{random.guid}}"
              to: "postmaster@msging.net"
              method: "get"
              uri: "/contexts/{{contact.identity}}"
      responses:
        "200":
          description: Comando executado
      security:
        - ApiKeyRouter: []
  
  /messages:
    post:
      tags:
        - Blip Router
      summary: Enviar mensagem para lista de distribuição (Broadcast)
      description: |
        Envia uma mensagem de texto para uma **lista de distribuição (broadcast)** no Blip.

        O envio é realizado no endpoint `/messages`
        utilizando o domínio do contrato Blip já definido nos servers.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
                - to
                - type
                - content
              properties:
                id:
                  type: string
                  description: Identificador único da mensagem
                  example: "{{$guid}}"
                to:
                  type: string
                  description: Lista de distribuição (broadcast)
                  example: "your_distributionList@broadcast.msging.net"
                type:
                  type: string
                  example: text/plain
                content:
                  type: string
                  example: Hello participants of this list!
      responses:
        "200":
          description: Mensagem enviada com sucesso
        "401":
          description: Não autorizado
        "500":
          description: Erro interno no Blip
      security:
        - ApiKeyRouter: []

  /notifications:
    post:
      tags:
        - Blip Router
      summary: Enviar notificação de evento de mensagem
      description: |
        Envia uma **notificação de evento** para o Blip Router.

        Este endpoint é utilizado para notificar eventos relacionados
        ao ciclo de vida de mensagens (ex: `consumed`, `received`, `failed`).

        O domínio do contrato Blip já é definido no bloco `servers`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
                - from
                - event
              properties:
                id:
                  type: string
                  description: Identificador único da notificação
                  example: "99cf454e-f25d-4ebd-831f-e48a1c612cd4"
                from:
                  type: string
                  description: Identidade do remetente (origem do evento)
                  example: "551100001111@0mn.io/4ac58r6e3"
                event:
                  type: string
                  description: Tipo do evento ocorrido
                  example: consumed
      responses:
        "200":
          description: Notificação enviada com sucesso
        "401":
          description: Não autorizado
        "500":
          description: Erro interno no Blip
      security:
        - ApiKeyRouter: []
  
  #==========================
  # Utilidades
  #==========================
  
  /viacep/{cep}/json/:
    get:
      tags:
        - Utilidades
      summary: Consulta CEP
      parameters:
        - name: cep
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Endereço retornado
  
  #==========================
  # Validar nomes
  #==========================
  
  /verify/{nameToCallApiName}:
    get:
      tags:
        - Name
      summary: Verificar nome via API Check-Name
      description: |
        Realiza a verificação de um nome utilizando a API **Check-Name**.

        O nome a ser validado deve ser informado como **path parameter**.
      parameters:
        - name: nameToCallApiName
          in: path
          required: true
          description: Nome que será enviado para validação
          schema:
            type: string
            example: "Joao Silva"
      responses:
        "200":
          description: Resultado da verificação do nome
          content:
            application/json:
              schema:
                type: object
                description: Retorno da API Check-Name
        "400":
          description: Requisição inválida
        "500":
          description: Erro interno na API de verificação
  
  #==========================
  # Monitoramento
  #==========================

  /monitoring/events/{customerId}/is-client-affected:
    get:
      tags:
        - Monitoramento
      summary: Consulta Status ONU
      description: Verifica se o cliente está afetado por algum evento de monitoramento
      parameters:
        - name: customerId
          in: path
          required: true
          description: Identificador do cliente
          schema:
            type: string
      responses:
        "200":
          description: Status ONU encontrado
        "401":
          description: Não autorizado
        "500":
          description: Erro interno no NMT
      security:
        - ApiKeyNMT: []
